<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884607479726-uflk4tucha6resh58r6iah79k3mudejq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884607479726-uflk4tucha6resh58r6iah79k3mudejq</string>
	<key>API_KEY</key>
	<string>AIzaSyDwT5Cb_o0Mmp1HH-J74ytXn0tty88EN-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>884607479726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.showRunner</string>
	<key>PROJECT_ID</key>
	<string>show-runner-b7e70</string>
	<key>STORAGE_BUCKET</key>
	<string>show-runner-b7e70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884607479726:ios:3cbebe0a729d056f51223f</string>
</dict>
</plist>